# Django
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_TIME_ZONE=America/Lima
DJANGO_LOG_LEVEL=INFO

# Frontend origins (Next.js)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Database
# postgres (default) | sqlite (solo si necesitas exportar/importar desde el archivo viejo)
DJANGO_DB_ENGINE=postgres
DJANGO_DB_NAME=db.sqlite3

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=db_sisbiometrico
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
